header
{
  background-image: url(C:/Users/DivalUser/Desktop/retos/barbershop/assets/images/post-image.jpg);
  height: 800px;
  background-repeat: no-repeat;
  image-rendering: -webkit-optimize-contrast;
  background-size: cover;
}
.logo
{
  width: 30%;
  padding-left: 10px;
}

.inten
{
  background-color: $white;
}

header img
{
  width: 90%;
}

h1
{
  color: $white;
  font-family:  'Playfair Display', serif;
  width: 70px large;
  padding-top: 350px;
  text-align: center;
}
