header
{
  background-image: url(post-image.jpg);
  height: 800px;
  background-repeat: no-repeat;
  image-rendering: -webkit-optimize-contrast;
  background-size: cover;
}
.logo
{
  width: 30%;
  padding-left: 10px;
}

.iten
{
  color: $white;
  align-items: right;
}

.header
{
  color: $white;
  font-family:  'Playfair Display', serif;
  font-size: 180px;
  padding-top: 450px;
  text-align: center;
}
