header
{
  background-image: url(C:/Users/DivalUser/Desktop/retos/barbershop/assets/images/post-image.jpg);
  height: 800px;
  background-repeat: no-repeat;
  width: fluid;
}

h1
{
  color: #FFF;
  font-family:  'Playfair Display', serif;
  width: 70px large;
  padding-top: 350px;
  text-align: center;
}
