.main
{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  width: 16px medium;
  color: $nickel;
  display: block;
  padding: 65px;
  margin-left: 90px;
  margin-right: 190px;
  text-align: justify;

}
