footer section
{
  background-color: $Eerie-black;
  height: 100px;

}
.logo-footer
{
  width: 20%;
  padding-top: 30px;
}
interno-naomi, img-naomi
{
  display: inline-block;
}

.imgRedonda
{
    width:200px;
    height:200px;
    border-radius:120px;
}

.nombre
{
  font-family: 'Playfair Display', italic;
  color: $Eerie-black;
  width: 30px;
}

.naotrahi, .depelos
{
  font-family: 'Playfair Display', Regular;
  color: $spanish-pink;
  width: 12px;
}


.interno-naomi
{
  font-family: 'Roboto', sans-serif;
  width: 10px;
  color: $nickel;
}

.botones
{
  background-color: $light-gray;
  height: 100px;
  padding-top: 30px;
  padding-left: 50px;
}

.nthai
{
  padding: 70px;
}
